<div class="grid p-fluid">
	<div class="col-12">
		<div class="card">
	
            <h2>Ajouter nouveau mode de paiement</h2>
		<br>
			<h5>Libelle</h5>
			<span class="p-float-label">
				<input pInputText id="username" type="text" [(ngModel)]="currentMode.libelle" />
			</span> 
<br><br>
            <span>
                <td><button pButton pRipple label="update" type="submit"  (click)="updateMode()"  icon="pi pi-pencil" class="p-button-rounded p-button-primary" ></button></td>
             
            </span>

			

		</div>
		
		
	</div>
</div>